# Python
__pycache__/
*.py[cod]
*.pyd
*.so
*.dll
*.onnx
*.bin
*.gguf
paradigm-env/

# Node
node_modules/
out/
dist/

# Electron build output
*.exe
*.dmg
*.AppImage
*.yml
*.blockmap

# Backup or temp
*.log
*.tmp
*.bak

# LLaMA/large folders
llama.cpp/

# OS/system files
.DS_Store
Thumbs.db
